node_modules
dist
./Users/logs/*
./venv
# ./etl_webapp/
src/Artcles/uploads/*
# uploads/*
uploads
etl_webapp/linelist_api/llm
./etl_webapp/linelist_api/llm/mistral-7b-openorca.gguf2.Q4_0.gguf
env
.env
logs
.pnpm-store
pnpm-store
./src/Appointment/.env
./src/Appointment/.env.dev
./src/Appointment/.env.development
./src/Appointment/.env.production

src/Appointment/.env
src/Appointment/.env.dev
src/Appointment/.env.development
src/Appointment/.env.production

src/Appointment/.env/*
